
@{
    ViewBag.Title = "Index";
}

<table>
    <tr>
        <td>
            <div style=" padding-bottom: 60px;">
                <h2>About Me</h2>

                <h4>All about Martha Aphane</h4>

                <div class="card" style=" padding-bottom:50px; text-align:left; width: 850px; height: 180px; border: 0.5px solid #000000; background: #E1AD9D;
                overflow: visible;">
                    <p style="margin-left:1%; margin-top:1%;">
                        <h4>Bio</h4>

                        Martha, is a 21 year-old young lady who was born and raised in a small township
                        just outside Pretoria called Hammanskraal. She is currently a second year Bcom
                        Informatics Information Systems. From a young age, Martha has always had an
                        interest in computers and how they operate and in high school she fell in love with
                        Business studies subject. Therefore, Informatics was the best course for her since it
                        has commerce and computer modules combined.

                        In future Martha wants to be a Business Analyst. She is very shy, yet enjoys working with
                        people. Martha is kind-hearted and loves helping people.
                    </p>
                 <br />

        </div>
        </div>

        </td>
        <td>   </td>
        <td></td>
        <td>
            <div style="margin-left: 8%;">
                <img src="@Url.Content("~/App_Data/Media/Images/@file.FileName")" alt="Bio Image" style="border-radius:20px; border-style:solid; border:5px; width:200px;
                     height:180px; margin-left:auto; margin-right:auto; object-fit:fill; margin-top:3px; padding-top:7%; padding-bottom: 7%;">
            </div>
        </td>

    </tr>
</table>

